 /* css*/
 a {
     text-decoration: none;
 }

 .social {
     height: 50px;
     text-decoration: none;
 }


 header {
     height: 60px;
     width: 100%;
     /*border: 2px solid red;*/
     background-color: rgb(7, 7, 7);
     color: aliceblue;
     position: sticky;
 }

 #brandname {
     float: left;
     margin-left: 4%;
     margin-top: 0%;
 }

 .navbarheading {
     color: #fff;
     font-size: 34px;
     margin-left: 14%;
     font-family: emoji;
 }




 #logo {
     height: 158px;
     width: 158px;
     background-color: white;
     border-radius: 290%;
     margin-top: -28%;
     margin-left: 42%;
     position: absolute;
     font-size: 70px;
     z-index: 1;
 }

 #logoname {
     margin-top: 16%;
     margin-left: 13%;
     position: absolute;
 }

 #heading {
     margin-top: -13%;
     margin-left: 29%;
     position: absolute;
     color: white;
     font-size: 26px;
     z-index: 1;
 }

 #dropdown {
     width: 57%;
     height: 56px;
     /* border: 2px solid red; */
     margin-top: -7%;
     margin-left: 24%;
     position: absolute;
     z-index: 1;
 }

 select {
     width: 40%;
     height: 59px;
     font-size: 24px;
     text-align: center;
 }

 #Restaurant {
     width: 59%;
 }


 @media (min-width: 1200px)
 {

 
 .h2, h2 {
     font-size: 3rem;
 }

}

/*
@media (min-width: 375px)
{
    #logo {
        height: 90px;
        width: 90px;
        background-color: white;
        border-radius: 290%;
        margin-top: -91%;
        margin-left: 36%;
        position: absolute;
        font-size: 36px;
        z-index: 1;
    }

    #logoname {
        margin-top: 17%;
        margin-left: 17%;
        position: absolute;
    }
 
    #heading {
        margin-top: -59%;
        margin-left: 4%;
        position: absolute;
        color: white;
        /*font-size: 26px;
        z-index: 1;
    }
    

    #dropdown {
        width: 90%;
        height: 52px;
        border: 2px solid red;
        margin-top: -38%;
        margin-left: 3%;
        position: absolute;
        z-index: 1;
    }

    select {
        width: 39%;
        height: 46px;
        font-size: 12px;
        text-align: center;
    }
}
*/




 #Quickheading {
     display: block;
     margin-left: 2%;
     font-weight: bold;
     font-size: 29px;
     color: #ff5722;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-top: 2%;
 }


 #Quicksubheading {
     display: block;
     line-height: 2;
     font-size: 25px;
     margin-left: 2%;
 }


 #first {
     height: 200px;
     /* background-color: #f44336; */
     display: inline-block;
     /* margin-right: 2%; */
     box-shadow: 1px 0px 7px 2px grey;
     margin-top: 3%;
     margin-bottom: 3%;
 }

 .imagediv {
     height: 200px;
     width: 50%;
     /* border: 2px solid #2e2e2e; */
     float: left;
     display: inline-block;
     margin-left: -3%;
 }


 .imagediv>img {
     height: 199px;
     width: 100%;
 }

 .heading {
     margin-top: 9%;
     margin-left: 10%;
     float: left;
     height: 31px;
     /* width: 50%; */
     display: inline-block;
     /* float: right; */
     text-align: center;
 }


 .dinner {

     font-weight: 700;
     color: burlywood;
     font-size: 23px;
     font-variant: petite-caps;
     text-align: center;
 }


 .subheading {
     font-family: serif;
     /* height: 80px; */
     width: 50%;
     /* border: 2px solid #1e1e1e; */
     float: left;
     margin-left: 3%;
     text-align: center;
     margin-top: 8%;
     font-weight: 600;
     /* background-color: bisque; */
     /* border-right-style: dotted; */
     /* border-left-style: dotted; */
     color: #8c8c8db3;
     font-size: 104%;
 }



 .w-100 {
     height: 400px;
     width: 100% !important;
 }


 footer {
     margin-top: 5%;
     height: 50px;
     /* width: 100%; */
     text-align: center;
     /* border: 2px solid gray; */
     background-color: black;
     color: aliceblue;
     /* border: 2px solid; */
 }