 /* css*/
 a {
     text-decoration: none;
 }

 .social {
     height: 50px;
     text-decoration: none;
 }


 header {
     height: 60px;
     width: 100%;
     /*border: 2px solid red;*/
     background-color: rgb(7, 7, 7);
     color: aliceblue;
     position: sticky;
 }

 #brandname {
     float: left;
     margin-left: 4%;
     margin-top: 0%;
 }

 .navbarheading {
     color: #fff;
     font-size: 34px;
     margin-left: 14%;
     font-family: emoji;
 }


 #logo{
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    margin-top: -29%;
    margin-left: 42%;
    font-size: 90px;
    animation: revolve 10s infinite;
    z-index: 1;
    
}
 

#logo >span{
    margin-left:23%;
    margin-top:12%;
    position:absolute; 
    z-index: 1;
}

#heading{
    font-size: 60px;
    color: white;
    margin-left: 24%;
    margin-top: -16%;
    position: absolute;
    z-index: 1;
}
#dropdown{
    width: 50%;
    /* border: 2px solid white; */
    height: 60px;
    margin-left: 25%;
    margin-top: -7%;
    position: absolute;
    z-index: 1;
}
select{
    font-size:20px;
    text-align: center;
    width:40%;
    height:60px
}
#restaurants{
    width:59%;
} 






 @media (min-width: 1200px)
 {

 
 .h2, h2 {
     font-size: 3rem;
 }

}
 
@media screen and (max-width:1200px){
    
    #logo{
        margin-top: -37%;
        margin-left: 39%;
    }
    
    #heading {
        margin-top: -20%;
        margin-left: 16%;
    }
    #dropdown {
        width: 65%;
        margin-left: 17%;
        margin-top: -9%;
    }
}

 

@media screen and (max-width:800px){
  
     
    #dropdown {
        width: 70%;
        margin-left: 23%;
        margin-top: 33%;
    }
    #heading {
        font-size: 55px;
        margin-top: 24%;
    }
}



@media screen and (max-width:750px){
  
    #logo {
        margin-left: 37%;
        margin-top: -54%;
    }
    #heading {
        font-size: 34px;
        margin-top: -30%;
        margin-left: 22%;
    }
    #dropdown {
        width: 96%;
        margin-left: 0%;
        margin-top: -18%;
        font-size: 11%;
    }
}


 


@media screen and (max-width:740px){
  
    #logo {
        margin-left: 37%;
        margin-top: -54%;
    }
    #heading {
        font-size: 34px;
        margin-top: -30%;
        margin-left: 22%;
    }
    #dropdown {
        width: 96%;
        margin-left: 0%;
        margin-top: -18%;
        font-size: 11%;
    }
}





@media screen and (max-width:735px){
  
    #logo {
        margin-left: 37%;
        margin-top: -54%;
    }
    #heading {
        font-size: 34px;
        margin-top: -30%;
        margin-left: 22%;
    }
    #dropdown {
        width: 96%;
        margin-left: 0%;
        margin-top: -18%;
        font-size: 11%;
    }
}




@media screen and (max-width:700px){
  
    #logo{
         
        margin-left: 33%;
        margin-top: -58%;
    }
    #heading {
        font-size: 34px;
        margin-top: -33%;
        margin-left: 18%;
    }
    #dropdown {
        width: 96%;
        margin-left: 0%;
        margin-top: -18%;
        font-size: 11%;
    }
}




@media screen and (max-width:692px){
  
    #logo{
         
        margin-left: 34%;
        margin-top: -57%;
    }
    #heading {
        font-size: 34px;
        margin-top: -31%;
        margin-left: 20%;
    }
    #dropdown {
        width: 96%;
        margin-left: 0%;
        margin-top: -18%;
        font-size: 11%;
    }
}





@media screen and (max-width:685px){
  
    #logo{
         
        margin-left: 33%;
        margin-top: -58%;
    }
    #heading {
        font-size: 34px;
        margin-top: -33%;
        margin-left: 18%;
    }
    #dropdown {
        width: 96%;
        margin-left: 0%;
        margin-top: -18%;
        font-size: 11%;
    }
}






@media screen and (max-width:600px){
    
    #logo{
         
        margin-left: 31%;
    margin-top: -65%;
    }
    #heading {
        font-size: 34px;
        margin-top: -35%;
        margin-left: 14%;
    }
    #dropdown {
        width: 96%;
        margin-left: 0%;
        margin-top: -18%;
        font-size: 11%;
    }
}



 #Quickheading {
     display: block;
     margin-left: 2%;
     font-weight: bold;
     font-size: 29px;
     color: #ff5722;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-top: 2%;
 }


 #Quicksubheading {
     display: block;
     line-height: 2;
     font-size: 25px;
     margin-left: 2%;
 }


 #first {
     height: 200px;
     /* background-color: #f44336; */
     display: inline-block;
     /* margin-right: 2%; */
     box-shadow: 1px 0px 7px 2px grey;
     margin-top: 3%;
     margin-bottom: 3%;
 }

 .imagediv {
     height: 200px;
     width: 50%;
     /* border: 2px solid #2e2e2e; */
     float: left;
     display: inline-block;
     margin-left: -3%;
 }


 .imagediv>img {
     height: 199px;
     width: 100%;
 }

 .heading {
     margin-top: 9%;
     margin-left: 10%;
     float: left;
     height: 31px;
     /* width: 50%; */
     display: inline-block;
     /* float: right; */
     text-align: center;
 }


 .dinner {

     font-weight: 700;
     color: burlywood;
     font-size: 23px;
     font-variant: petite-caps;
     text-align: center;
 }


 .subheading {
     font-family: serif;
     /* height: 80px; */
     width: 50%;
     /* border: 2px solid #1e1e1e; */
     float: left;
     margin-left: 3%;
     text-align: center;
     margin-top: 8%;
     font-weight: 600;
     /* background-color: bisque; */
     /* border-right-style: dotted; */
     /* border-left-style: dotted; */
     color: #8c8c8db3;
     font-size: 104%;
 }



 .w-100 {
     height: 400px;
     width: 100% !important;
 }


 footer {
     margin-top: 5%;
     height: 50px;
     /* width: 100%; */
     text-align: center;
     /* border: 2px solid gray; */
     background-color: black;
     color: aliceblue;
     /* border: 2px solid; */
 }